.footer {
    padding: 2vw;
    background-color: rgb(104, 0, 35);
    p {
        margin-top: 12px;
        text-align: center;
        color: rgb(255, 141, 179);
    }

    &__images {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 24px;
            height: 30px;
        }
    }
}